* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar */


/* Hero Section */


/* Our Story Section */


/* Watch Our Story Section */


/* Expertise Section */


/* Meet Our Team Section */


/* Contact Form Section */


/* Footer Section */